.container {
    text-align: center;
  }
  
  .dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .logout {
    background-color: red;
  }
  
  .logout:hover {
    background-color: darkred;
  }
  